@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dc1414 #f1f5f9;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f5f9;
}

*::-webkit-scrollbar-thumb {
  background-color: #DC143C;
  border-radius: 10px;
}